<div class="footer">
    {{> logo }}
 
    <div class="phone-footer">
        <a  data-id="phone_call" href="callto:+79931960175" class="info-phone">+7 (993) 196-01-75</a>
        <a  data-id="phone_call_w" class="info-phone">+7 (993) 196-01-75</a>
    </div>


    <div id="up" class="up">
        <img src="/img/up.png" src=""/>
    </div>
</div>