<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<link rel="icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff"></meta>
<meta name="apple-mobile-web-app-capable" content="no"></meta>
<meta property="og:url" content="//remontokonperm.ru/"></meta>
<title>Тёплый дом — ремонт окон в перми</title>
<meta property="og:title" content="Тёплый дом — ремонт окон в перми"></meta>
<meta name="description" content="Тёплый дом — это качественный ремонт пластиковых окон. Выезд мастера бесплатно."></meta>
<meta name="keywords" content="Ремонт окон, Тёплый дом, мастер, Пермь, цены"></meta>
<meta name="news_keywords" content="Ремонт окон, Тёплый дом, мастер, Пермь, цены"></meta>

<meta name="yandex-verification" content="68b8232560ab44b6" />
<meta name="google-site-verification" content="pLLbNWwlbIjfTuUBMcpueh10QbC8FxMrr1lg-TGZNJ0" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
