<div class="menu-header">


    <div class="menu-phone" id="open">
        <img alt="" src="/img/menu.png"  alt="#"/>
    </div>

    
</div>
<div class="header">
    {{> logo }}
    <div>
        <div class="header-info-cont">
            <svg class="menu-mail-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="font-size:40px;color:#ffb300;margin-right:5px"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path></svg>
            <div>
                <p class="info-time">Время работы</p>
                <p class="info-date">ПН - СБ 9:00 - 20:00</p>
            </div>
        </div>
        <div>
            <p class="info-call">
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="color:white;font-size:20px"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path></svg>
                Вызов мастера
            </p>
            <a data-id="phone_call" href="callto:+79931960175" class="info-phone">+7 (993) 196-01-75</a>
            <a data-id="phone_call_w" class="info-phone">+7 (993) 196-01-75</a>
        </div>
    </div>
</div>

<div class="menu-wrapper-web">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/okna">ПЛАСТИКОВЫЕ ОКНА</a></li>
        <li><a href="/balconi">Балконы</a></li>
        <li><a href="/remont">Ремонт окон</a></li>
    </ul>
</div>


<div class="menu-wrapper-phone none" id="menu">
    <div class="menu-phone-close" id="close">
        <img src="/img/close.svg"  alt="#"/>
    </div>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/okna">ПЛАСТИКОВЫЕ ОКНА</a></li>
        <li><a href="/balconi">Балконы</a></li>
        <li><a href="/remont">Ремонт окон</a></li>
    </ul>
</div>