<!DOCTYPE html>
<html lang="en">
<head>
    {{> header }}
</head>
<body>
    <div>
        {{> menu }}
    </div>
    <div class="body">
        {{{body}}}
    </div>
    {{> footer }}

    {{> script }}
</body>
</html>