.remont-sl {
    margin-top: 0px;
    margin-bottom: 48px;
}

.bal-cont-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .bal-cont {
        width: 100%;
        max-width: 1440px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }   
    .cont-price {
        margin: 5px;
        border: 1px solid #d6cbba;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title {
            font-size: 14pt;
            font-weight: 500;
            text-transform: uppercase;
            padding-left: 10px;
            padding-top: 10px;
        }
        img {
            max-width: 90%;
            margin: 10px auto;
            display: block;
        }
        ul {
            margin-top: 5px;
            margin-right: -10px;
            margin-left: -10px;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                position: relative;
                padding: 5px 10px;
                font-size: 9pt;
                text-transform: uppercase;
                color: #222;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
        
            }
            li:nth-child(2n-1) {
                background: #f7efe9;
            }
        }
        p {
            font-size: 16pt;
            font-weight: 600;
            padding: 10px 10px;
            background: #f79723;
            color: white;
            left: 0;
            right: 0;
            display: block;
        }
    }
}